<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}}</title>

    <meta charset="utf-8">
    <meta name="description" content="11ty site documenting 11ty">
    <meta name="theme-color" content="cornflowerblue">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/blog/assets/mark-volkmann-192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/blog/assets/favicon-blue.png">
    <link rel="manifest" href="/blog/assets/manifest.json">
    
    <link rel="preload" as="style" href="/blog/assets/styles.css">
    <link rel="stylesheet" href="/blog/assets/styles.css">

    <!-- This is for use with eleventy-plugin-syntaxhighlight. -->
    <link rel="preload" as="style" href="/blog/assets/prism-default.css">
    <link rel="stylesheet" href="/blog/assets/prism-default.css" />

    <!-- I commented this out during testing so all files
         are loaded from the network instead of the cache.
         See https://github.com/okitavera/eleventy-plugin-pwa/issues/5. -->
    <!--script>
      if ("serviceWorker" in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/blog/service-worker.js');
        })
      }
    </script--> 
  </head>
  <body>
    <h1>Mark Volkmann's Blog</h1>
    <main>
      <nav> <!-- for accessible page navigation -->
        <h3>Intro. Topics</h3>
        {{ collections.all | filter('intro', true) | eleventyNavigation | eleventyNavigationToHtml | safe }}
        <hr>
        <h3>More Topics</h3>
        {{ collections.all | eleventyNavigation | sort('title') | eleventyNavigationToHtml | safe }}
      </nav>
      
      <section>
        <h2>{{title}}</h2> <!-- uses a variable defined in front matter -->
        <!-- Page content is inserted here. -->
        {{content | safe}}
      </section>
    </main>
    <footer>
      &copy; R. Mark Volkmann, 2020
    </footer>
  </body>
</html>