<style>
  #transform-demo button {
    --size: 3rem;

    display: inline-block;
    background-color: cornflowerblue;
    border: none;
    border-radius: 50%;
    font-size: 2rem;
    height: var(--size);
    transition: transform 0.7s;
    width: var(--size);
  }

  /* Without this the button content briefly changes
     to white when it is clicked only in Safari. */
  #transform-demo button:active {
    color: black;
  }

  #transform-demo button.rotate {
    transform: rotate(180deg);
  }
</style>

<div id="transform-demo">
  <p>Click the button to rotate it.</p>
  <button>☝</button>
</div>

<script>
  const button = document.querySelector('#transform-demo button');
  button.addEventListener('click', () => {
    button.classList.toggle('rotate');
  });
</script>
