<style>
  #css-keyframes-demo {
    --size: 27rem;
    height: var(--size);
    width: var(--size);
    position: relative;
  }

  #keyframes-box {
    --size: 4rem;
    height: var(--size);
    width: var(--size);

    --start-distance: 2rem;
    --end-distance: 20rem;
    position: absolute;
    top: var(--start-distance);
    left: var(--start-distance);

    background-color: red;
    border: 3px solid black;
    color: white;
    padding: 1rem;
  }

  .jump {
    animation-duration: 3s;
    animation-name: jump-around;
    animation-timing-function: linear;
  }

  @keyframes jump-around {
    /* We can specify "from" or "0%" (same thing) properties here.
          They default to the starting property values
          which is what we want in this case. */
    25% {
      background-color: yellow;
      top: var(--start-distance);
      left: var(--end-distance);
    }
    50% {
      background-color: green;
      top: var(--end-distance);
      left: var(--end-distance);
    }
    75% {
      background-color: blue;
      top: var(--end-distance);
      left: var(--start-distance);
    }
    /* We can specify "to" or "1000%" (same thing) properties here.
          They default to the starting property values
          which is what we want in this case.
          The box will move from the lower left to the upper left
          and the color will change from blue to red. */
  }
</style>

<section id="css-keyframes-demo">
  <button id="keyframes-btn">Jump Around</button>
  <div id="keyframes-box">I'm a box.</div>
</section>

<script>
  const btn = document.getElementById('keyframes-btn');
  const keyFrameBox = document.getElementById('keyframes-box');

  // When the button is clicked, add the "jump" class to the keyFrameBox.
  btn.addEventListener('click', () => {
    keyFrameBox.classList.add('jump');
  });

  // When the animation ends, remove the "jump" class.
  // This allows the animation to be repeated
  // when the "jump" class is added again.
  keyFrameBox.addEventListener('animationend', () => {
    keyFrameBox.classList.remove('jump');
  });
</script>
