<style>
  #position-demo1 {
    display: inline-block;
    border: 1px solid black;
    height: 5rem;
    width: 8rem;
    position: relative;
  }

  #position-demo1 > div {
    position: absolute;
  }

  #first {
    top: 0;
    left: 0;
  }

  #second {
    top: 0;
    right: 0;
  }

  #third {
    bottom: 0;
    left: 0;
  }

  #fourth {
    bottom: 0;
    right: 0;
  }
</style>

<h4>CSS position absolute demo</h4>
<div id="position-demo1">
  <div id="first">First</div>
  <div id="second">Second</div>
  <div id="third">Third</div>
  <div id="fourth">Fourth</div>
</div>
