<style>
  h2,
  h3 {
    animation-direction: alternate;
    animation-duration: 500ms;
    animation-iteration-count: 2;
  }

  @keyframes pulse {
    100% {
      color: red;
    }
  }
</style>

<script>
  {
    // adding a local scope

    function callback(entries) {
      for (const entry of entries) {
        entry.target.style.animationName = entry.isIntersecting
          ? 'pulse'
          : 'none';
      }
    }
    const observer = new IntersectionObserver(callback, {threshold: 1});

    const headings = document.querySelectorAll('h2,h3');
    for (const heading of headings) {
      observer.observe(heading);
    }
  }
</script>
