<style>
  h2,
  h3 {
    animation-direction: alternate;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
  }

  @keyframes pulse {
    to {
      color: red;
    }
  }
</style>

<script>
  // The brackets here add a local scope.
  {
    function callback(entries) {
      for (const entry of entries) {
        entry.target.style.animationName = entry.isIntersecting
          ? 'pulse'
          : 'none';
      }
    }
    const observer = new IntersectionObserver(callback, {threshold: 1});

    const headings = document.querySelectorAll('h2,h3');
    console.log(
      '_intersection-observer-headings.html x: headings.length =',
      headings.length
    );
    for (const heading of headings) {
      observer.observe(heading);
    }
  }
</script>
