<style>
  #pointer-events-demo .select-wrapper {
    --color: blue;
    display: inline-block;
    position: relative;
  }

  /* The ::after pseudo selector doesn't work on select elements,
         but it does work on div elements. */
  #pointer-events-demo .select-wrapper::after {
    content: '▼';
    color: var(--color);
    font-size: 1.2rem;

    /* Position this over the small triangle
           provided by the select element.*/
    position: absolute;
    right: 2px;
    top: 6px;

    /* If this is clicked, allow the click to be processed
           by the select element, not this triangle. */
    pointer-events: none;
  }

  #pointer-events-demo select {
    margin-left: 0.5rem;
    width: 5rem;

    /* This works in Chrome and Firefox, but Safari ignores it. */
    padding: 0.5rem;

    /* To get this to look nice in all the browsers, including Safari,
           we can just draw it ourselves. */
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 1px solid var(--color);
    border-radius: 0; /* Safari has a non-zero default border radius. */
  }
</style>

<section id="pointer-events-demo">
  <label for="color-select">Color</label>
  <div class="select-wrapper">
    <select id="color-select">
      <option></option>
      <option>Red</option>
      <option>Green</option>
      <option>Blue</option>
    </select>
  </div>
  <p class="report"></p>
</section>

<script>
  const prompt = 'Select a color.';
  const pointerEventsReport = document.querySelector(
    '#pointer-events-demo .report'
  );
  pointerEventsReport.textContent = prompt;

  const select = document.querySelector('#pointer-events-demo #color-select');
  select.addEventListener('change', event => {
    const {value} = event.target;
    pointerEventsReport.textContent = value ? `You selected ${value}.` : prompt;
  });
</script>
