<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ eleventyNavigation.key }}</title>

    <meta charset="utf-8">
    <meta name="description" content="11ty site documenting 11ty">
    <meta name="theme-color" content="cornflowerblue">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/blog/assets/mark-volkmann-192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/blog/assets/favicon-blue.png">
    <link rel="manifest" href="/blog/assets/manifest.json">
    
    <link rel="preload" as="style" href="/blog/assets/styles.css">
    <link rel="stylesheet" href="/blog/assets/styles.css">

    <!-- This is for use with eleventy-plugin-syntaxhighlight. -->
    <link rel="preload" as="style" href="/blog/assets/prism-a11y.css">
    <link rel="stylesheet" href="/blog/assets/prism-a11y.css" />

    {% if css %}
      <link rel="stylesheet" href="{{css}}" />
    {% endif %}

    <script>
      // Only register the service worker when not on localhost.
      if (location.hostname !== 'localhost' && 'serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/blog/service-worker.js');
        })
      }

      let nav;
      let navOpen = false;

      function toggleMenu() {
        navOpen = !navOpen;
        nav.style.left = navOpen ?
          0 :
          '-' + nav.getBoundingClientRect().width + 'px';
        nav
      }

      window.onload = () => {
        nav = document.querySelector('nav');
        const scrollTop = sessionStorage.getItem('navScroll');
        if (scrollTop) nav.scrollTop = scrollTop;

        nav.onscroll = () => {
          sessionStorage.setItem('navScroll', nav.scrollTop);
        };
      }
    </script> 
  </head>
  <body>
    <header>
      <h1>
        <button class="hamburger" onclick="toggleMenu()">&#x2630;</button>
        Mark Volkmann's Blog
      </h1>
      {% set crumbs = collections.all |
        eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
      {% for crumb in crumbs %}
        <a class="crumb" href="{{ crumb.url | url }}">{{ crumb.title }}</a>
        ...
      {% endfor %}
    </header>
    <main>
      <nav onScroll="navScrolled()">
        {% import 'macros.njk' as macros with context %}
        {% set entries = collections.all | eleventyNavigation | navSort() %}
        {{ macros.renderNavList(entries) }}
      </nav>
      
      <section>
        <h2>{{ eleventyNavigation.key }} {{extraTitle}}</h2>
        <!-- Page content is inserted here. -->
        {{ content | safe }}
      </section>
    </main>
    <footer>
      &copy; R. Mark Volkmann, 2020
    </footer>
  </body>
</html>