{#
This renders a single nav item in an li element.
It calls renderNavItem recursively if the nav item has children
in order to create a tree of links.
#}
{% macro renderNavItem(entry) %}
  {#
  <p>renderNavItem: entry.url = {{ entry.url }}</p>
  <p>renderNavItem: page.url = {{ page.url }}</p>
  #}
  {% set active = entry.url === page.url %}
  {% set hasOrder = entry.url === page.url %}
  <li
    {% if active %} class="active"{% endif %}
    {% if entry.order %} class="ordered"{% endif %}
    {% if not entry.parent %} class="top"{% endif %}
  >
    <a href="{{ entry.url | url }}">
      {{ entry.title }}
      {% if entry.children.length %} >{% endif %}
    </a>
    {% if entry.url in page.url and entry.children.length %}
      {{ renderNavList(entry.children) }}
    {% endif %}
  </li>
{% endmacro %}

{#
This renders a list of nav items inside a ul element.
#}
{% macro renderNavList(entries) %}
  <ul>
    {% for entry in entries %}
      {{ renderNavItem(entry) }}
    {% endfor %}
  </ul>
{% endmacro %}
