{#
This renders a single nav item in an li element.
It calls renderNavItem recursively if the nav item has children
in order to create a tree of links.
#}
{% macro renderNavItem(entry) %}
  {% set class = "" %}
  {% if entry.order %}
    {% set class = class + " ordered" %}
  {% endif %}
  {% if not entry.parent %}
    {% set class = class + " top" %}
  {% endif %}

  <li class="{{ class }}">
    <a class="nav-link" href="{{ entry.url | url }}" target="frame">
      {{ entry.title }}
      {% if entry.children %}<span class="triangle">&#x25b6;</span>{% endif %}
    </a>
    {{ renderNavList(entry.children) }}
  </li>
{% endmacro %}

{#
This renders a list of nav items inside a ul element.
#}
{% macro renderNavList(entries) %}
  <ul>
    {% for entry in entries %}
      {{ renderNavItem(entry) }}
    {% endfor %}
  </ul>
{% endmacro %}
