<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ eleventyNavigation.key }}</title>

    <meta charset="utf-8">
    <meta name="description" content="11ty site documenting 11ty">
    <meta name="theme-color" content="cornflowerblue">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/blog/assets/mark-volkmann-192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/blog/assets/favicon-blue.png">
    <link rel="manifest" href="/blog/assets/manifest.json">
    
    <link rel="preload" as="style" href="/blog/assets/styles.css">
    <link rel="stylesheet" href="/blog/assets/styles.css">

    <!-- This is for use with eleventy-plugin-syntaxhighlight. -->
    <link rel="preload" as="style" href="/blog/assets/prism-a11y.css">
    <link rel="stylesheet" href="/blog/assets/prism-a11y.css" />

    {% if css %}
      <link rel="stylesheet" href="{{css}}" />
    {% endif %}

    <script>
      // Only register the service worker when not on localhost.
      if (location.hostname !== 'localhost' && 'serviceWorker' in navigator) {
        window.addEventListener('load', () => {
          navigator.serviceWorker.register('/blog/service-worker.js');
        })
      }

      let nav;
      let navOpen = false;

      function toggleMenu() {
        navOpen = !navOpen;
        nav.style.left = navOpen ?
          0 :
          '-' + nav.getBoundingClientRect().width + 'px';
        nav
      }

      window.onload = () => {
        // If the URL contains a hash, use it to
        // restore the proper page in the iframe.
        const {hash} = location;
        if (hash) {
          const iframe = document.querySelector('iframe');
          iframe.src = hash.substring(1); // removes leading #
        }
        
        nav = document.querySelector('nav');

        // Add a click listener to all the nav links.
        const links = document.querySelectorAll('.nav-link');
        Array.from(links).forEach(link => {
          link.addEventListener('click', () => {
            // If there's a previous active link, style it as no longer active.
            const activeLink = document.querySelector('.active');
            if (activeLink) activeLink.classList.remove('active');

            // Style the clicked link as active.
            link.classList.add('active');
            console.log('link =', link);

            //TODO: Why is this delay helpful in getting proper page rendering?
            setTimeout(() => {
              // Put new page URL in URL hash so it can be bookmarked.
              const {href} = link;
              const {origin} = location;
              location.hash = href.startsWith(origin) ?
                href.substring(origin.length) :
                href;
            });
          });
        });
      }
    </script> 
  </head>
  <body>
    <header>
      <h1>
        <button class="hamburger" onclick="toggleMenu()">&#x2630;</button>
        Mark Volkmann's Blog
      </h1>
      <div class="main-links">
        <a href="/blog/about-me">About Me</a>
        <a href="/blog/quotes">Quotes</a>
        <a href="/blog/topics">Topics</a>
      </div>
      {% set crumbs = collections.all |
        eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
      {% for crumb in crumbs %}
        <a class="crumb" href="{{ crumb.url | url }}">{{ crumb.title }}</a>
        ...
      {% endfor %}
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      &copy; R. Mark Volkmann, 2020
    </footer>
  </body>
</html>