<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Mark Volkmann's blog</title>

    <meta charset="utf-8">
    <meta name="description" content="Mark Volkmann's Tech Blog">
    <meta name="generator" content="{{site.generator}}">
    <meta name="theme-color" content="cornflowerblue">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/blog/assets/mark-volkmann-192.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/blog/assets/favicon-blue.png">
    <link rel="manifest" href="/blog/assets/manifest.json">

    <link rel="preload" as="style" href="/blog/assets/styles.css">
    <link rel="stylesheet" href="/blog/assets/styles.css">

    <!-- This is for use with eleventy-plugin-syntaxhighlight. -->
    <link rel="preload" as="style" href="/blog/assets/prism-a11y.css">
    <link rel="stylesheet" href="/blog/assets/prism-a11y.css" />

    {% if css %}
      <link rel="stylesheet" href="{{css}}" />
    {% endif %}

    <script
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"
    ></script>
    <script src="/blog/js/top-layout.js"></script>
  </head>
  <body>
    <header>
      <button class="hamburger" onclick="toggleHamburgerMenu()">&#x2630;</button>
      <h1>Mark Volkmann's Blog</h1>
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer>
      {% aTargetBlank "https://tinyletter.com/mvolkmann", "subscribe" %}
      <div>&copy; R. Mark Volkmann, 2020-2024</div>
    </footer>
  </body>
</html>
