---
layout: top-layout
---

<link rel="stylesheet" href="/blog/assets/topics.css">
<script src="/blog/js/topics.js"></script>

<nav>
  {{ renderNavList(collections.nav) | safe }}
</nav>

<section class="topic-content">
  <iframe
    name="frame"
    onLoad="iframeLoaded(this)"
    src="../welcome/"
    title="topic content"></iframe>
</section>