<link rel="preload" as="style" href="/blog/assets/prism-a11y.css">
<link rel="stylesheet" href="/blog/assets/prism-a11y.css" />

<link rel="stylesheet" href="/blog/assets/topic.css">
{% if css %}
  <link rel="stylesheet" href="{{css}}" />
{% endif %}

<h2>{{ eleventyNavigation.key }} {{extraTitle}}</h2>
{{ content | safe }}