body {
  /*--accent-color: cornflowerblue;*/
  --accent-color: #3265dc;

  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;

  & > footer {
    display: flex;
    justify-content: space-between;

    background-color: var(--accent-color);
    color: white;
    padding: 0.5rem;

    & > a {
      color: white;
      text-transform: uppercase;
    }
  }

  & > header {
    display: flex;
    align-items: center;

    background-color: var(--accent-color);
    color: white;
    margin: 0;
    padding: 0.5rem;
    text-align: center;

    & > h1 {
      flex-grow: 1;
      margin-top: 0;
      padding: 0;
    }

    & > .hamburger {
      background-color: transparent;
      border: none;
      color: white;
      font-size: 1.7rem;
      outline: none;
    }
  }

  & > main {
    flex-grow: 1;
    position: relative;
    width: 100%;

    display: flex;
    align-items: stretch;

    li.ordered > a:not(.active) {
      color: green;
    }

    li.top > a {
      font-size: 1.2rem;
      font-weight: bold;
    }

    & > nav {
      background-color: linen;
      display: inline-block;
      height: 100%;
      overflow: auto;
      padding-right: 1rem;
      position: absolute;
      transition-duration: 0.5s;
      width: fit-content;
      z-index: 1;

      a {
        color: var(--accent-color);
        cursor: pointer;
        text-decoration: none;

        &.active {
          color: purple;
          font-weight: bold;
        }

        &.expanded > .triangle {
          transform: rotate(90deg);
        }

        .triangle {
          display: inline-block;
          margin-left: 0.5rem;
          transform: rotate(0);
          transition-duration: 0.5s;
          transition-property: transform;
        }
      }

      li {
        margin: 1rem 0;
      }

      & > ul {
        display: block;

        ul {
          display: none;
        }
      }

      .expanded + ul {
        display: block;
      }

      ul {
        list-style: none;
        margin-left: 1rem;
        margin-top: 0.5rem;
        padding-left: 0;
      }
    }

    & > section {
      flex-grow: 1;
      display: flex;
      align-items: stretch;
      overflow-y: scroll;
      position: relative;
      left: 0;
      width: 100%;

      & > iframe {
        border: none;
        box-sizing: border-box;
        padding: 0.5rem;
        transition-duration: 500ms; // matches setTimeout in topics.js
        transition-property: opacity;
        width: 100%;
      }
    }
  }
}

.bold {
  font-weight: bold;
}

.crumb {
  color: white;
  text-decoration: none;
}

h1 {
  font-size: 1.7rem;
  margin-bottom: 0;
}

h2 {
  color: purple;
  font-size: 1.2rem;
  margin-block-start: 0;
}

h3 {
  color: var(--accent-color);
}

p {
  font-size: 1rem;
  margin-block-start: 0;
}

table {
  border-collapse: collapse;
  margin-bottom: 1rem;

  td,
  th {
    border: solid lightgray 1px;
    padding: 5px;
  }

  th {
    background-color: var(--accent-color);
    color: white;
  }
}
