a > code {
  font-size: 1.4rem;
}

article aside {
  border: 1px solid gray;
  font-size: 0.9rem;
  padding: 0.5rem;
}

body {
  --accent-color: #3265dc;
  --bg-color: white;
  --fg-color: black;
  --nav-bg-color: linen;

  background-color: var(--bg-color);
  color: var(--fg-color);
  font-family: sans-serif;
  margin: 0 auto;
  padding: 1rem;
}

figure {
  display: inline-block;
  margin: 0 0 1rem 0;
}

h2 {
  color: purple;
  font-size: 1.4rem;
}

h2:not(:first-of-type) {
  border-top: 1px solid lightgray;
  padding-top: 1rem;
}

h3 {
  border-top: 1px dashed lightgray;
  color: var(--accent-color);
  font-size: 1.2rem;
  margin-top: 0;
  padding-top: 1rem;
}

html {
  scroll-behavior: smooth; /* not supported in Safari */
}
@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

img {
  width: 95%;

  &.default-size {
    width: unset;
  }

  &.half-size {
    width: 50%;
  }

  &.keep-size {
    width: auto;
  }
}

.MathJax {
  // This doesn't work because the mjx-container element
  // sets font-size inline in its style attribute.
  // Instead wrap MathJax expressions in size{...}
  // where size is tiny, scriptsize, small,
  // normalsize (default), large, or huge.
  // Of these, only large and huge are reasonable sizes.
  font-size: 200%;
}

li > code,
p > code {
  font-size: 1rem;
}

pre {
  background-color: #fff9f2 !important;
}

table {
  --td-bg-color: #fff9f2;
  --th-bg-color: #f6d078;

  border-collapse: collapse;
  color: var(--fg-color);
}

/*
// Matches the element whose id matches the URL hash.
:target {
  color: purple;
}
*/

td {
  background-color: var(--td-bg-color);
}

th {
  background-color: var(--th-bg-color);
}

td,
th {
  border: solid gray 1px;
  padding: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  body {
    --accent-color: darkblue;
    --bg-color: black;
    --fg-color: white;
    --nav-bg-color: #0047ab;
  }

  table {
    --td-bg-color: var(--nav-bg-color);
    --th-bg-color: var(--accent-color);
  }
}
