body > main {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  padding: 0;

  .hamburger {
    display: none;
  }

  & > nav {
    background-color: linen;
    height: 100%;
    overflow: auto;
    padding-right: 1rem;
    width: fit-content;

    h2 {
      color: gray;
    }

    & > ul {
      margin-left: 0;
      margin-top: 0;
    }

    a {
      color: var(--accent-color);
      text-decoration: none;

      &.active {
        color: purple;
        font-weight: bold;
      }

      &.expanded > .triangle {
        transform: rotate(90deg);
      }

      .triangle {
        display: inline-block;
        margin-left: 0.5rem;
        transform: rotate(0);
        transition-duration: 0.5s;
        transition-property: transform;
      }
    }

    li {
      margin-top: 0.5rem;
    }
  }

  .MathJax {
    font-size: 200%;
  }

  & > section {
    flex-grow: 1;
    overflow: auto;

    & > iframe {
      border: none;
      box-sizing: border-box;
      height: 100%;
      padding: 1rem;
      transition-duration: 500ms; // matches setTimeout in topics.js
      transition-property: opacity;
      width: 100%;
    }
  }

  li.ordered > a:not(.active) {
    color: green;
  }

  li.top > a {
    font-size: 1.2rem;
    font-weight: bold;
  }

  nav {
    & > ul {
      display: block;

      ul {
        display: none;
      }
    }

    .expanded + ul {
      display: block;
    }

    ul {
      list-style: none;
      margin-left: 1rem;
      margin-top: 0.5rem;
      padding-left: 0;
    }
  }

  @media (max-width: 800px) {
    .hamburger {
      position: absolute;
      left: 0;
      top: 0;

      background-color: transparent;
      border: none;
      color: white;
      display: inline-block;
      font-size: 2rem;
    }

    nav {
      left: -100%; // so it is initially hidden
      position: absolute;
      transition-duration: 0.5s;

      li {
        margin: 1rem 0;
      }
    }
  }
}
