a > code {
  font-size: 1.4rem;
}

body {
  font-family: sans-serif;
}

img {
  width: 90%;

  &.keep-size {
    width: auto;
  }
}

.MathJax {
  // This doesn't work because the mjx-container element
  // sets font-size inline in its style attribute.
  // Instead wrap MathJax expressions in size{...}
  // where size is tiny, scriptsize, small,
  // normalsize (default), large, or huge.
  // Of these, only large and huge are reasonable sizes.
  font-size: 200%;
}

li > code,
p > code {
  font-size: 1.2rem;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: solid lightgray 1px;
  padding: 0.5rem;
}
