<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <h1>Mark Volkmann's Blog</h1>
    <nav> <!-- for accessible page navigation -->
      <ol>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
      </ol>
    </nav>
    <h2>{{title}}</h2> <!-- uses a variable defined in front matter -->
    <!-- Page content is inserted here. -->
    {{content | safe}}
  </body>
</html>