<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="shortcut icon" href="/blog/assets/favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/blog/assets/styles.css" />
  </head>
  <body>
    <h1>Mark Volkmann's Blog</h1>
    <main>
      <nav> <!-- for accessible page navigation -->
        <h3>Intro. Topics</h3>
        <ul>
          {%- for navItem in collections.introNavItemsSorted -%}
            <li><a href="/blog{{ navItem.url}}">{{ navItem.data.title }}</a></li>
          {%- endfor -%}
        </ul>

        <hr>

        <h3>More Topics</h3>
        <ul>
          {%- for navItem in collections.advancedNavItemsSorted -%}
            <li><a href="/blog{{ navItem.url}}">{{ navItem.data.title }}</a></li>
          {%- endfor -%}
        </ul>
      </nav>
      
      <section>
        <h2>{{title}}</h2> <!-- uses a variable defined in front matter -->
        <!-- Page content is inserted here. -->
        {{content | safe}}
      </section>
    </main>
    <footer>
      &copy; R. Mark Volkmann, 2020
    </footer>
  </body>
</html>