body {
  /*--accent-color: cornflowerblue;*/
  --accent-color: #3265dc;

  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;

  & > main {
    display: flex;
    flex-grow: 1;
    overflow: hidden;

    & > nav {
      background-color: linen;
      overflow: auto;
      padding: 0 1rem;
      /*width: fit-content;*/
      min-width: 200px; /* Why is this needed? */
      width: 200px;

      h2 {
        color: gray;
      }

      & > ul {
        margin-left: 0;
        margin-top: 0;
      }

      a {
        color: var(--accent-color);
        text-decoration: none;
      }

      li {
        margin-top: 0.5rem;
      }
    }

    & > section {
      flex-grow: 1;
      overflow: auto;
      padding: 1rem;
    }
  }
}

.crumb {
  color: white;
  text-decoration: none;
}

h2 {
  color: purple;
}

footer {
  background-color: var(--accent-color);
  color: white;
  padding: 1rem;
}

.hamburger {
  display: none;
}

header {
  background-color: var(--accent-color);
  color: white;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

li.active > a {
  color: purple;
  font-weight: bold;
}

li.ordered > a {
  color: green;
}

li.top > a {
  font-size: 1.2rem;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin-left: 1rem;
  margin-top: 0.5rem;
  padding-left: 0;
}

@media (max-width: 600px) {
  h1 {
    font-size: 1.5rem;
  }

  .hamburger {
    background-color: transparent;
    border: none;
    color: white;
    display: inline-block;
    font-size: 1.5rem;
  }

  header {
    text-align: left;
  }

  nav {
    position: absolute;
    left: -232px;
    transition: left 0.5s;

    li {
      margin: 1rem 0;
    }
  }
}
