body {
  /*--accent-color: cornflowerblue;*/
  --accent-color: #3265dc;

  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 100vh;
  margin: 0;
}

body > main {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

body > main > nav {
  background-color: linen;
  overflow: auto;
  padding: 0 1rem;
  /*width: fit-content;*/
  min-width: 200px; /* Why is this needed? */
  width: 200px;
}

body > main > nav > ul {
  margin-left: 0;
  margin-top: 0;
}

.crumb {
  color: white;
  text-decoration: none;
}

body > main > nav li {
  margin-bottom: 0.5rem;
}

body > main > nav a {
  color: var(--accent-color);
  text-decoration: none;
}

body > main > section {
  flex-grow: 1;
  overflow: auto;
  padding: 1rem;
}

h2 {
  color: purple;
}

h2 {
  color: gray;
}

footer {
  background-color: var(--accent-color);
  color: white;
  padding: 1rem;
}

header {
  background-color: var(--accent-color);
  color: white;
  margin: 0;
  padding: 1rem;
  text-align: center;
}

.hamburger {
  display: none;
}

li.active > a {
  color: purple;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin-left: 1rem;
  margin-top: 0.5rem;
  padding-left: 0;
}

@media (max-width: 600px) {
  h1 {
    font-size: 24px;
  }

  .hamburger {
    background-color: transparent;
    border: none;
    color: white;
    display: inline-block;
    font-size: 32px;
  }

  header {
    text-align: left;
  }

  nav {
    position: absolute;
    left: -232px;
    transition: left 0.5s;
  }
}
