---
const target = '/blog/topics/';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0;url=${target}`} />
    <link rel="canonical" href="https://mvolkmann.github.io/blog/topics/" />
    <title>Redirecting...</title>
  </head>
  <body>
    <p><a href={target}>Continue to the blog topics page</a></p>
  </body>
</html>
