body { /*--accent-color: cornflowerblue;*/ --accent-color: #3265dc; display: flex; flex-direction: column; font-family: sans-serif; height: 100vh; margin: 0; }

body > footer { background-color: var(--accent-color); color: white; padding: 1rem; }

body > header { background-color: var(--accent-color); color: white; margin: 0; padding: 1rem; text-align: center; }

body > header > h1 { margin-top: 0; }

body > main { flex-grow: 1; overflow: hidden; padding: 1rem; }

.bold { font-weight: bold; }

.crumb { color: white; text-decoration: none; }

h2 { color: purple; font-size: 2rem; margin-block-start: 0; }

h3 { color: var(--accent-color); }

.main-links > a { color: transparent; display: inline-block; font-size: 2rem; font-weight: bold; margin: 0 0.5rem; text-decoration: none; -webkit-text-stroke: yellow 1px; }

.main-links > a:hover { color: yellow; }

.main-links > a.selected { color: lightgreen; -webkit-text-stroke: lightgreen; }

p { font-size: 1rem; margin-block-start: 0; }

table { border-collapse: collapse; margin-bottom: 1rem; }

table td, table th { border: solid lightgray 1px; padding: 5px; }

table th { background-color: var(--accent-color); color: white; }
