:root {
  --accent-color: #3265dc;
  --bg-color: white;
  --fg-color: black;
  --heading-color: purple;
  --rule-color: lightgray;
  --table-border-color: gray;
  --table-header-bg-color: #f6d078;
  --table-cell-bg-color: #fff9f2;
}

.topic-page a > code {
  font-size: 1.4rem;
}

.topic-page aside {
  border: 1px solid gray;
  font-size: 0.9rem;
  padding: 0.5rem;
}

.topic-page {
  font-family: sans-serif;
  margin: 0 auto;
  max-width: var(--topic-max-width);
}

.topic-page figure {
  display: inline-block;
  margin: 0 0 1rem;
}

.topic-page h2 {
  color: var(--heading-color);
  font-size: 1.4rem;
  text-align: center;
}

.topic-page article > h2 {
  text-align: start;
}

.topic-page article > h2:not(:first-of-type) {
  border-top: 1px solid var(--rule-color);
  padding-top: 1rem;
}

.topic-page h3 {
  border-top: 1px dashed var(--rule-color);
  color: var(--accent-color);
  font-size: 1.2rem;
  margin-top: 0;
  padding-top: 1rem;
}

html {
  scroll-behavior: smooth;
}

.topic-page img {
  width: 95%;
}

.topic-page img.default-size {
  width: unset;
}

.topic-page img.half-size {
  width: 50%;
}

.topic-page img.keep-size {
  width: auto;
}

.topic-page .MathJax {
  font-size: 200%;
}

.topic-page li > code,
.topic-page p > code {
  font-size: 1rem;
}

.topic-page pre {
  background-color: var(--table-cell-bg-color) !important;
}

.topic-page table {
  border-collapse: collapse;
  color: var(--fg-color);
}

.topic-page td {
  background-color: var(--table-cell-bg-color);
  color: var(--fg-color);
}

.topic-page th {
  background-color: var(--table-header-bg-color);
  color: var(--fg-color);
}

.topic-page td,
.topic-page th {
  border: solid var(--table-border-color) 1px;
  padding: 0.5rem;
}

@media (prefers-reduced-motion) {
  html {
    scroll-behavior: auto;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: darkblue;
    --bg-color: black;
    --fg-color: white;
    --table-cell-bg-color: #0047ab;
    --table-header-bg-color: var(--accent-color);
  }
}
