a > code { font-size: 1.4rem; }

body { font-family: sans-serif; }

img { width: 90%; }

img.default-size { width: unset; }

img.half-size { width: 50%; }

img.keep-size { width: auto; }

.MathJax { font-size: 200%; }

li > code, p > code { font-size: 1.2rem; }

table { border-collapse: collapse; }

td, th { border: solid lightgray 1px; padding: 0.5rem; }
