.head-shot {
  height: 250px;
}

img {
  float: left;
  height: 30px;
  margin-right: 1rem;
  width: auto;
}

main {
  display: block !important;
  overflow: scroll !important;
}

p {
  font-size: 1.2rem;
}
