:root {
  --github-actions-border-color: lightgray;
  --github-actions-image-width: 800px;
  --github-actions-muted-color: gray;
  --github-actions-table-border-color: gray;
}

blockquote {
  border: solid var(--github-actions-border-color) 1px;
  color: var(--github-actions-muted-color);
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 0.5rem;
  margin-left: 0;
  margin-top: 0;
  padding: 0 1rem;
}

.bold {
  font-weight: bold;
}

h3 {
  border-top: solid var(--github-actions-border-color) 1px;
  padding-top: 1rem;
}

img {
  display: block;
  width: var(--github-actions-image-width);
}

table {
  border-collapse: collapse;
}

td,
th {
  border: solid var(--github-actions-table-border-color) 1px;
  padding: 4px;
  text-align: left;
}
