---
interface Props {
  Content: any;
  headingText: string;
  tocHtml: string;
}

const {Content, headingText, tocHtml} = Astro.props;
---

<h2>{headingText}</h2>

<aside set:html={tocHtml} />
<article>
  <Content />
</article>
